*{
  font-family: 'Roboto', sans-serif;
 
}
body{
  background-image: linear-gradient(to right, #F97200 , #191711);
  color: white;
}
p{
  font-size: 40px;
}
Button:hover{
  transform: scale(1.07);
  transition-duration: 0.7s;
}
h3{
  font-family: 'Outfit', sans-serif !important;
}